In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Exemplo de DataFrame").getOrCreate()

24/11/17 15:54:58 WARN Utils: Your hostname, Mac-mini-de-Valter.local resolves to a loopback address: 127.0.0.1; using 192.168.0.100 instead (on interface en0)
24/11/17 15:54:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/17 15:54:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/11/17 15:54:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
# A partir de um coleção

In [6]:
data = [
    ("Valter", 28),
    ("Magnus", 33),
    ("Garry", 61)
]

columns = ["Nome", "Idade"]

In [7]:
df = spark.createDataFrame(data, columns)

In [9]:
df.show()

+------+-----+
|  Nome|Idade|
+------+-----+
|Valter|   28|
|Magnus|   33|
| Garry|   61|
+------+-----+

In [10]:
# A partir de um arquivo .CSV

In [11]:
df = spark.read.csv(path="dados.csv", header=True, inferSchema=True)

In [12]:
df.show()

+------------+-----+
|        nome|idade|
+------------+-----+
|      Valter|   28|
|      Magnus|   33|
|       Garry|   61|
|Outra Pessoa|   99|
+------------+-----+

In [15]:
# Consultas com Spark SQL
df.createOrReplaceTempView("pessoas")

In [16]:
result = spark.sql("SELECT * FROM pessoas WHERE idade > 30")

In [17]:
result.show()

+------------+-----+
|        nome|idade|
+------------+-----+
|      Magnus|   33|
|       Garry|   61|
|Outra Pessoa|   99|
+------------+-----+